<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div wicket:id="locks" class="panel panel-default"/>
		<wicket:fragment wicket:id="lockKey">
			<div>
				<span wicket:id="key" />
				<span wicket:id="fullkey" />
				<span wicket:id="nodename" />
				<span wicket:id="attributionDate" />
				<span wicket:id="role" />
				<span wicket:id="priorityQueue" />
			</div>
		</wicket:fragment>
	</wicket:panel>
</body>
</html>